
body{ 
	  background-color: #ff00e9 !important ; 
 }
 h1{
 	font-family: 'Noto Sans', sans-serif;
	color:#16dcff;
	font-size: 65px;
}
#rc1{
	font-family: 'Noto Sans TC', sans-serif;
	color:#16dcff;
	font-size: 25px;
}
#rc1{
	position: absolute;
	top: 300px;
	left: 600px;
}
#rc2{
	font-family: 'Noto Sans TC', sans-serif;
	color:#16dcff;
	font-size: 25px;

}
#rc2{
	position: absolute;
	top: 250px;
	left: 600px;
}
button{
	color:#ff23e5;
	background-color: #00e507;
	font-size: 25px;
}
